{
  "openapi": "3.0.3",
  "info": {
    "title": "Zoop API",
    "version": "1.0.0-snapshot.2026-05-31",
    "description": "The Zoop tenant-scoped REST API.\n\nAll endpoints are scoped to a tenant and live under `/{tenantId}/api`. Authenticate with a bearer token — either a Supabase OAuth access token or a Zoop API key (prefixed `zoop_`). Each endpoint requires specific scopes; the required scope is noted in every operation's description.\n\nThis document is a point-in-time snapshot generated from the source route handlers; it is not hand-maintained.",
    "license": {
      "name": "Proprietary — © Zoop"
    }
  },
  "servers": [
    {
      "url": "https://app.zoop.com/{tenantId}/api",
      "variables": {
        "tenantId": {
          "default": "your-tenant-id",
          "description": "Your tenant UUID or storefront slug."
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Per-user account settings, including the personal calendar feed."
    },
    {
      "name": "API Keys",
      "description": "Create, list, and revoke external API keys for programmatic access."
    },
    {
      "name": "Calendar",
      "description": "Calendar events, availability, holds, the iCal feed, and job scheduling."
    },
    {
      "name": "Catalog Categories",
      "description": "Categories for organizing catalog items."
    },
    {
      "name": "Catalog Items",
      "description": "Service/product catalog items, images, price history, and bulk import."
    },
    {
      "name": "Communications",
      "description": "Send email/SMS and manage inbound message association."
    },
    {
      "name": "Companies",
      "description": "Business/company profile and the active/current company."
    },
    {
      "name": "Crews",
      "description": "Crews and crew membership."
    },
    {
      "name": "Customers",
      "description": "Manage customers, their contacts, locations, tags, attachments, and billing."
    },
    {
      "name": "Invoices",
      "description": "Invoices, payments, refunds, sending, and lifecycle actions."
    },
    {
      "name": "Job Series",
      "description": "Recurring job series."
    },
    {
      "name": "Jobs",
      "description": "Jobs, media, crew assignment, completion, and creation from quotes/estimates."
    },
    {
      "name": "Notes",
      "description": "Notes with versioning, attachments, and subject resolution."
    },
    {
      "name": "Payments",
      "description": "Stripe Connect onboarding/management and payment instructions."
    },
    {
      "name": "Plans",
      "description": "Recurring service plans and their lifecycle actions (pause, resume, cancel, skip, charge)."
    },
    {
      "name": "Quotes",
      "description": "Quotes with sections, attachments, PDF rendering, and sharing."
    },
    {
      "name": "Settings",
      "description": "Tenant settings, including company settings."
    },
    {
      "name": "Storefront",
      "description": "Public storefront availability and booking holds."
    },
    {
      "name": "Tags",
      "description": "Tags for categorizing records."
    },
    {
      "name": "Tax Rates",
      "description": "Tax rates, including archive/restore."
    },
    {
      "name": "Team Members",
      "description": "Team members and their invitations."
    }
  ],
  "paths": {
    "/account/calendar-feed": {
      "delete": {
        "tags": [
          "Account"
        ],
        "operationId": "revokeAccountCalendarFeed",
        "summary": "Revoke the personal calendar feed token",
        "description": "**Required scope:** `write:account`\n\nRevokes the caller's currently active personal ICS calendar feed token for this tenant. Any calendar client subscribed with the previous feed URL will stop receiving updates. This operation is idempotent: if no active token exists, it still succeeds. Available to any tenant member (owner, office, or tech).",
        "responses": {
          "204": {
            "description": "The active calendar feed token (if any) was revoked. No response body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/account/calendar-feed/rotate": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "rotateAccountCalendarFeed",
        "summary": "Mint or rotate the personal calendar feed",
        "description": "**Required scope:** `write:account`\n\nMints a new personal ICS calendar feed token for the caller in this tenant, revoking any previously active token first. Returns the absolute, subscribable feed URL containing the raw token. The token is only shown once in this response and cannot be retrieved again; subscribe a calendar client (Apple Calendar, Google Calendar, Outlook) to the returned URL before leaving. Available to any tenant member (owner, office, or tech).",
        "responses": {
          "200": {
            "description": "A new calendar feed token was minted. The response contains the absolute feed URL with the raw token embedded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCalendarFeed"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/availability": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "getCalendarAvailability",
        "summary": "Get busy intervals for a date range",
        "description": "**Required scope:** `read:calendar`\n\nReturns merged busy intervals (jobs, events, and — for owner/office only — pending holds) over the requested range. Tech callers never receive hold-derived intervals. `to` must be strictly after `from`.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the range (ISO 8601 datetime)."
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the range (ISO 8601 datetime). Must be strictly after from."
          },
          {
            "name": "assigneeIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of 1-50 assignee user UUIDs. Restricts intervals to those involving at least one listed assignee (intervals that block everyone are always retained)."
          }
        ],
        "responses": {
          "200": {
            "description": "Busy intervals for the range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intervals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarBusyInterval"
                      }
                    }
                  },
                  "required": [
                    "intervals"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/events": {
      "post": {
        "tags": [
          "Calendar"
        ],
        "operationId": "createCalendarEvent",
        "summary": "Create a calendar event (one-off or recurring)",
        "description": "**Required scope:** `write:calendar`\n\nCreates a one-off calendar event, or — when `recurrence` is supplied — a recurring event series whose rolling 90-day window is materialized synchronously. A tech caller may only create event kinds permitted by the tenant's `tech_can_create_event_kinds` setting; other kinds return 403.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarEventCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event (or series) created. One-off returns event_id; recurring returns series_id and the number of materialized instances.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CalendarEventCreated"
                    },
                    {
                      "$ref": "#/components/schemas/CalendarEventSeriesCreated"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/events/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Calendar event ID."
        }
      ],
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "getCalendarEvent",
        "summary": "Get a single calendar event",
        "description": "**Required scope:** `read:calendar`\n\nReturns one event with its assignees and, when the event belongs to a series, the series' recurrence (rrule, timezone, duration_min) for the edit modal.",
        "responses": {
          "200": {
            "description": "The calendar event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEventDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Calendar"
        ],
        "operationId": "updateCalendarEvent",
        "summary": "Edit a calendar event (series-edit modes)",
        "description": "**Required scope:** `write:calendar`\n\nOwner or office only (techs receive 403). Edits an event using one of three modes: `this` (this occurrence only), `this_and_future` (caps the series and creates a new series from the occurrence onward), or `all` (edits the whole series template). For `this` and `this_and_future`, `occurrence_date` is required. Non-recurring events accept only `mode=this`. Response shape varies by mode: `this` returns the updated event row; `all` and `this_and_future` return `{ series_id }`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarEventPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated. For mode=this, the updated calendar event row; for mode=all and mode=this_and_future, the (possibly new) series id.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CalendarEventRow"
                    },
                    {
                      "$ref": "#/components/schemas/CalendarEventSeriesRef"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Calendar"
        ],
        "operationId": "deleteCalendarEvent",
        "summary": "Cancel a calendar event (series-cancel modes)",
        "description": "**Required scope:** `write:calendar`\n\nOwner or office only (techs receive 403). Cancels via the `mode` query param: `this` (this occurrence), `this_and_future` (caps the series and cancels future scheduled occurrences), or `all` (cancels the entire series). Non-recurring events accept only `mode=this`. Rows are soft-cancelled (status set to `cancelled`), preserved for history.",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "this",
                "this_and_future",
                "all"
              ],
              "default": "this"
            },
            "description": "Cancellation scope. Defaults to this."
          }
        ],
        "responses": {
          "204": {
            "description": "Event(s) cancelled. No content."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/events/{id}/respond": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Calendar event ID."
        }
      ],
      "post": {
        "tags": [
          "Calendar"
        ],
        "operationId": "respondToCalendarEvent",
        "summary": "Respond to your own event invitation",
        "description": "**Required scope:** `write:calendar`\n\nThe caller updates their own assignee response (`accepted` or `declined`) for the event. Only the caller's own assignee row is affected. Returns 404 (same shape for cross-tenant events) when the caller is not an assignee of this event in this tenant.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarEventRespond"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "response": {
                      "type": "string",
                      "enum": [
                        "accepted",
                        "declined"
                      ]
                    }
                  },
                  "required": [
                    "event_id",
                    "response"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/holds": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "listCalendarHolds",
        "summary": "List booking holds (holds inbox)",
        "description": "**Required scope:** `read:calendar`\n\nOwner or office only (techs receive 403). Returns `booking_holds` rows for the dispatcher's holds inbox, filtered by status (default `pending`) and optionally by a `requested_start` window. Pending holds are sorted by soonest expiration; other statuses by most-recent activity. Returns full guest contact info for the tenant.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "released",
                "expired"
              ],
              "default": "pending"
            },
            "description": "Hold status to list. Defaults to pending."
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Lower bound (inclusive) on requested_start (ISO 8601)."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Upper bound (inclusive) on requested_start (ISO 8601)."
          }
        ],
        "responses": {
          "200": {
            "description": "Booking holds matching the filter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarHold"
                      }
                    }
                  },
                  "required": [
                    "holds"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/holds/{id}/confirm": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Booking hold ID."
        }
      ],
      "post": {
        "tags": [
          "Calendar"
        ],
        "operationId": "confirmCalendarHold",
        "summary": "Confirm a booking hold (promote to a job)",
        "description": "**Required scope:** `write:calendar`\n\nOwner or office only (techs receive 403). Atomically promotes a pending hold to a `jobs` row at the customer's requested slot, via the `confirm_booking_hold` RPC. Returns 409 when the hold is no longer pending, 404 when the hold (or referenced crew) is not found, and 400 for payload/business validation errors (e.g. crew tenant mismatch, assigned user not a member).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarHoldConfirm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hold confirmed and promoted to a job.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "hold_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "job_id",
                    "hold_id"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/holds/{id}/release": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Booking hold ID."
        }
      ],
      "post": {
        "tags": [
          "Calendar"
        ],
        "operationId": "releaseCalendarHold",
        "summary": "Decline (release) a booking hold",
        "description": "**Required scope:** `write:calendar`\n\nOwner or office only (techs receive 403). Releases a pending hold with a reason and notifies the requestor (email, plus best-effort SMS). Returns 400 when the hold is not pending, and 404 when the hold is not found in this tenant (same shape for cross-tenant holds).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarHoldRelease"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hold released.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "released"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/holds/{id}/suggest": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Booking hold ID."
        }
      ],
      "post": {
        "tags": [
          "Calendar"
        ],
        "operationId": "suggestCalendarHoldSlot",
        "summary": "Propose an alternate slot for a booking hold",
        "description": "**Required scope:** `write:calendar`\n\nOwner or office only (techs receive 403). Shifts the hold's requested window to a proposed slot, extends `expires_at` by the tenant's hold TTL, mints a one-shot acceptance token, and emails the customer a tokenized accept link. The hold stays `pending`. The slot cannot exceed 8 hours and `requested_end` must be after `requested_start`. Returns 409 when the hold is not pending. Email send failures are best-effort and do not fail the request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarHoldSuggest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hold window updated and suggestion email dispatched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hold_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "hold_id",
                    "expires_at"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/items": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "operationId": "listCalendarItems",
        "summary": "Fetch calendar grid items for a date range",
        "description": "**Required scope:** `read:calendar`\n\nReturns the three calendar row sources (jobs, events, holds) in one round-trip for the calendar grid. RLS scopes rows per role: a tech sees only their own jobs and events and zero holds; owner/office see everything in the tenant. The `from`/`to` window is required and `to` must be strictly after `from`. Holds are returned only for owner/office (empty array for techs).",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the range (ISO 8601 datetime)."
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the range (ISO 8601 datetime). Must be strictly after from."
          },
          {
            "name": "assigneeIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of 1-50 assignee user UUIDs. Filters jobs/events to those involving at least one of these users."
          },
          {
            "name": "crewIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of 1-20 crew UUIDs (ZOO-480). Expanded to member user_ids and unioned with assigneeIds before filtering."
          },
          {
            "name": "kinds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of 1-4 event kinds (meeting, block, personal, other). Applied to calendar events only; jobs are never filtered by this param."
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar items grouped by source.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarJobItem"
                      }
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarEventItem"
                      }
                    },
                    "holds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarHoldItem"
                      }
                    }
                  },
                  "required": [
                    "jobs",
                    "events",
                    "holds"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/calendar/jobs/{id}/reschedule": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Job ID."
        }
      ],
      "patch": {
        "tags": [
          "Calendar"
        ],
        "operationId": "rescheduleCalendarJob",
        "summary": "Reschedule (drag-drop move) a job",
        "description": "**Required scope:** `write:jobs`\n\nOwner or office only (techs receive 403). Narrow calendar verb for moving a job to a new slot. Setting `scheduled_start` to null unschedules the job (forces status `unscheduled` and clears `scheduled_end`); a non-null start sets status `scheduled`. `scheduled_end`, when present alongside a start, must be strictly after `scheduled_start`. Returns the updated job row.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarJobReschedule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated job row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarJobRow"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/catalog-categories": {
      "get": {
        "tags": [
          "Catalog Categories"
        ],
        "operationId": "listCatalogCategories",
        "summary": "List catalog categories",
        "description": "**Required scope:** `read:catalog_categories`\n\nReturns all catalog categories for the tenant, ordered by `sort_order` ascending then `name` ascending. By default the response is a flat array of categories. When `tree=true` is supplied, the response is a nested tree where each category carries a `children` array (categories whose `parent_id` is not present in the result set are placed at the top level).",
        "parameters": [
          {
            "name": "tree",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "description": "When set to the literal string `true`, returns a nested tree of CatalogCategoryNode objects instead of a flat array."
          }
        ],
        "responses": {
          "200": {
            "description": "A flat list of catalog categories, or a nested tree when `tree=true`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogCategory"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogCategoryNode"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Catalog Categories"
        ],
        "operationId": "createCatalogCategory",
        "summary": "Create a catalog category",
        "description": "**Required scope:** `write:catalog_categories`\n\nCreates a new catalog category. Restricted to tenant members with the `owner` role; other roles receive `403 Forbidden`. Returns `409 Conflict` when a category with the same name already exists under the same parent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogCategoryCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created catalog category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogCategory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/catalog-categories/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "The unique identifier of the catalog category."
        }
      ],
      "patch": {
        "tags": [
          "Catalog Categories"
        ],
        "operationId": "updateCatalogCategory",
        "summary": "Update a catalog category",
        "description": "**Required scope:** `write:catalog_categories`\n\nUpdates an existing catalog category. Restricted to tenant members with the `owner` role; other roles receive `403 Forbidden`. Returns `409 Conflict` if the change would introduce a cycle in the category hierarchy (`category_cycle`), or if a category with the same name already exists under the same parent. Returns `404 Not Found` if the category does not exist for the tenant.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogCategoryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated catalog category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogCategory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalog Categories"
        ],
        "operationId": "deleteCatalogCategory",
        "summary": "Delete a catalog category",
        "description": "**Required scope:** `write:catalog_categories`\n\nDeletes a catalog category. Restricted to tenant members with the `owner` role; other roles receive `403 Forbidden`. The deletion is atomic: child categories are re-parented and the category is deleted in a single transaction. Any catalog items referencing the category have their `category_id` cleared automatically. Returns `404 Not Found` if the category does not exist for the tenant.",
        "responses": {
          "204": {
            "description": "The catalog category was deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/catalog-items": {
      "get": {
        "tags": [
          "Catalog Items"
        ],
        "operationId": "listCatalogItems",
        "summary": "List catalog items",
        "description": "**Required scope:** `read:catalog_items`\n\nList and search the tenant's catalog items. Each item is returned in a role-appropriate shape: only `owner` callers see cost/markup/supplier fields; `office` and `tech` callers receive the public shape with those fields stripped. Bundle items include their joined `components`. Supports filtering by `kind`, `category_id` (optionally expanded to descendant categories via `include_descendants`), active/archived status, free-text search (`q`), and cursor pagination.",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Filter by catalog item kind.",
            "schema": {
              "type": "string",
              "enum": [
                "service",
                "product",
                "labor",
                "fee",
                "bundle",
                "discount"
              ]
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "description": "Filter to items in this category.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include_descendants",
            "in": "query",
            "required": false,
            "description": "When `true` and `category_id` is supplied, also include items in descendant categories.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "When `true`, return only non-archived items; when `false`, return only archived items. Omit to return both.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query (max 256 characters).",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of items to return (default 50, min 1, max 200).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of catalog items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "next_cursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogItem"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page, or null when there are no more results."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Catalog Items"
        ],
        "operationId": "createCatalogItem",
        "summary": "Create a catalog item",
        "description": "**Required scope:** `write:catalog_items`\n\nRestricted to the `owner` role — other roles receive 403. Create a catalog item. The request body is a discriminated union on `kind`; `bundle` items require a non-empty `components` array and `discount` items require `discount_type`. If `category_id` is supplied it must belong to this tenant, otherwise a 422 `invalid_category` error is returned. Returns the created item in the owner shape.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created catalog item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "The supplied `category_id` does not belong to this tenant (`invalid_category`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/catalog-items/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Catalog item id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Catalog Items"
        ],
        "operationId": "getCatalogItem",
        "summary": "Get a catalog item",
        "description": "**Required scope:** `read:catalog_items`\n\nFetch a single non-archived catalog item in a role-appropriate shape (only `owner` callers see cost/markup/supplier fields). For `bundle` items, each entry in `components` is enriched with the fully serialized referenced catalog `item` (or null if unavailable).",
        "responses": {
          "200": {
            "description": "The catalog item. For bundles, `components` entries carry a nested serialized `item`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Catalog Items"
        ],
        "operationId": "updateCatalogItem",
        "summary": "Update a catalog item",
        "description": "**Required scope:** `write:catalog_items`\n\nRestricted to the `owner` role — other roles receive 403. Partially update a catalog item; all fields are optional. If `discount_value` is supplied, `discount_type` must accompany it. For `bundle` items, supplying `components` atomically replaces the bundle's component set. If `category_id` is supplied it must belong to this tenant, otherwise a 422 `invalid_category` error is returned. Returns the updated item in the owner shape.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated catalog item.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "The supplied `category_id` does not belong to this tenant (`invalid_category`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Catalog Items"
        ],
        "operationId": "deleteCatalogItem",
        "summary": "Archive a catalog item",
        "description": "**Required scope:** `write:catalog_items`\n\nRestricted to the `owner` role — other roles receive 403. Soft-deletes (archives) the catalog item. If the item is referenced by one or more active (non-archived) bundles, the request is rejected with a 409 `bundle_component_conflict` and the item is not archived. Returns 204 No Content on success.",
        "responses": {
          "204": {
            "description": "The catalog item was archived. No content is returned."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/communications/{id}/associate-customer": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Communication id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "tags": [
          "Communications"
        ],
        "operationId": "associateCommunicationCustomer",
        "summary": "Associate a communication with a customer",
        "description": "**Required scope:** `write:communications`\n\nLink a communication (typically an unassociated inbound message) to a customer, optionally also setting a contact. The target customer must exist in this tenant and not be soft-deleted (404 otherwise). The communication must exist in this tenant (404 otherwise). Passing no `contact_id` clears any existing contact association.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationAssociateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated communication, now linked to the customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/communications/email": {
      "post": {
        "tags": [
          "Communications"
        ],
        "operationId": "sendCommunicationEmail",
        "summary": "Send an email",
        "description": "**Required scope:** `write:communications`\n\nSend an email to a customer on behalf of the tenant via the configured email provider (Resend). The recipient is resolved from the customer's contacts: if `contact_id` is supplied that contact is used, otherwise the customer's primary contact is used; the resolved contact must have an email address (409 if it does not). Sends are deduplicated by `idempotency_key` (scoped to outbound email): a repeat call with a previously-seen key returns the existing communication with HTTP 200 instead of creating a new one. `subject_type` and `subject_id` must be supplied together or omitted together.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationEmailSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate request — a communication with the same `idempotency_key` already existed; the existing communication is returned unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          },
          "201": {
            "description": "The email was accepted and a new outbound communication row was created (status `queued`/`sending`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/communications/sms": {
      "post": {
        "tags": [
          "Communications"
        ],
        "operationId": "sendCommunicationSms",
        "summary": "Send an SMS",
        "description": "**Required scope:** `write:communications`\n\nSend an SMS to a customer on behalf of the tenant via the configured SMS provider (Twilio). The recipient is resolved from the customer's contacts: if `contact_id` is supplied that contact is used, otherwise the customer's primary contact is used. The resolved contact must have a phone number (409 if it does not) and must be SMS-enabled — a contact opted out of SMS (`phone_can_sms` false) yields 409. Sends are deduplicated by `idempotency_key` (scoped to outbound SMS): a repeat call with a previously-seen key returns the existing communication with HTTP 200 instead of creating a new one. `subject_type` and `subject_id` must be supplied together or omitted together.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationSmsSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate request — a communication with the same `idempotency_key` already existed; the existing communication is returned unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          },
          "201": {
            "description": "The SMS was accepted and a new outbound communication row was created (status `queued`/`sending`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/communications/unknown-inbound": {
      "get": {
        "tags": [
          "Communications"
        ],
        "operationId": "listUnknownInboundCommunications",
        "summary": "List unassociated inbound communications",
        "description": "**Required scope:** `read:communications`\n\nList inbound communications that have not yet been linked to a customer (`direction` is `inbound` and `customer_id` is null), most recent first. Use these to triage messages that could not be auto-correlated to a customer, then attach them with the associate-customer endpoint. Pagination is keyed on `created_at`: pass the previous page's `next_cursor` as `cursor` to fetch older rows.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only include communications created at or after this ISO-8601 datetime (inclusive lower bound).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor — the `created_at` value (ISO-8601 datetime) of the last row from the previous page; returns rows created strictly before it. Taken from the previous response's `next_cursor`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of communications to return (default 50, min 1, max 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of unassociated inbound communications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Communication"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "The `created_at` of the last row in this page, to be passed as `cursor` for the next page; null when there are no more results."
                    }
                  },
                  "required": [
                    "results",
                    "next_cursor"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "listCompanies",
        "summary": "List companies the caller belongs to",
        "description": "**Required scope:** `read:companies`\n\nReturns every company (tenant) the authenticated user is a member of, including the caller's role in each. The caller must be a member of the tenant identified by the URL `{tenantId}` (the active context is validated).",
        "responses": {
          "200": {
            "description": "Array of companies the caller is a member of.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyWithMembership"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "operationId": "createCompany",
        "summary": "Create a company",
        "description": "**Required scope:** `write:companies`\n\nCreates a new company (tenant) and makes the authenticated user its owner. A default `company_settings` row is auto-provisioned. The caller must be a member of the tenant identified by the URL `{tenantId}` (the active context is validated).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created company. `slug` and `logo_url` default to null and `plan` defaults to `free`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/companies/current": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "getCurrentCompany",
        "summary": "Get the current company profile",
        "description": "**Required scope:** `read:companies`\n\nReturns the company (tenant) identified by the URL `{tenantId}`. The caller must be a member of that tenant.",
        "responses": {
          "200": {
            "description": "The current company profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "operationId": "updateCurrentCompany",
        "summary": "Update the current company profile",
        "description": "**Required scope:** `write:companies`\n\nUpdates the company (tenant) identified by the URL `{tenantId}`. **Owner role required** — non-owner members receive 403. A partial update: every field is optional but at least one of `name`, `slug`, or `published` must be supplied. `slug` is normalized to lowercase and validated against the storefront slug shape and reserved-slug denylist. `published: true` marks the storefront live; `false` takes it offline.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated company (subset of fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUpdateResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/crews": {
      "get": {
        "tags": [
          "Crews"
        ],
        "operationId": "listCrews",
        "summary": "List crews",
        "description": "**Required scope:** `read:settings`\n\nLists crews for the tenant. Owner and office callers see all crews; tech callers see only crews they belong to (enforced by row-level security). Archived crews are excluded by default; pass `archived=true` to include them. Each crew includes a derived `member_count`; the full member list is returned by the single-crew endpoint, not here.",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "When `true`, include archived crews. Defaults to excluding archived crews. Must be exactly `\"true\"` or `\"false\"`."
          }
        ],
        "responses": {
          "200": {
            "description": "List of crews.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "crews"
                  ],
                  "properties": {
                    "crews": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Crew"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Crews"
        ],
        "operationId": "createCrew",
        "summary": "Create a crew",
        "description": "**Required scope:** `admin:settings`\n\nRestricted to owner and office roles. Creates a crew with the given name. The name is trimmed and must be 1–80 characters after trimming. A name that collides with an existing active (non-archived) crew name in the tenant returns 409. The created crew is returned with `member_count` equal to 0.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrewCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Crew created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "crew"
                  ],
                  "properties": {
                    "crew": {
                      "$ref": "#/components/schemas/Crew"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/crews/{crewId}": {
      "parameters": [
        {
          "name": "crewId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Crew identifier."
        }
      ],
      "get": {
        "tags": [
          "Crews"
        ],
        "operationId": "getCrew",
        "summary": "Get a crew",
        "description": "**Required scope:** `read:settings`\n\nReturns a single crew including its members. Any tenant member may call this; row-level security determines visibility. Tech callers see only crews they belong to; owner and office see all. A crew that does not exist (or is not visible to the caller) returns 404.",
        "responses": {
          "200": {
            "description": "The crew with its members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "crew"
                  ],
                  "properties": {
                    "crew": {
                      "$ref": "#/components/schemas/CrewWithMembers"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Crews"
        ],
        "operationId": "updateCrew",
        "summary": "Rename or archive a crew",
        "description": "**Required scope:** `admin:settings`\n\nRestricted to owner and office roles. Renames and/or archives a crew. At least one of `name` or `archive` must be supplied. `archive: true` sets the archived state; `archive: false` clears it (unarchive). A rename that collides with an existing active crew name returns 409. If the request results in no change, the current crew is returned with `changed: false` and no audit event is emitted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrewUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated crew. `changed` indicates whether any field actually changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "crew",
                    "changed"
                  ],
                  "properties": {
                    "crew": {
                      "$ref": "#/components/schemas/Crew"
                    },
                    "changed": {
                      "type": "boolean",
                      "description": "False when the request was a no-op (no fields changed)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/crews/{crewId}/members": {
      "parameters": [
        {
          "name": "crewId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Crew identifier."
        }
      ],
      "get": {
        "tags": [
          "Crews"
        ],
        "operationId": "listCrewMembers",
        "summary": "List crew members",
        "description": "**Required scope:** `read:settings`\n\nLists the members of a crew, ordered by when they were added (ascending). Visibility is gated by row-level security: owner and office see the full roster; tech callers see the roster only for crews they themselves belong to. A crew that does not exist (or is not visible) returns 404.",
        "responses": {
          "200": {
            "description": "The crew's members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "members"
                  ],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrewMember"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Crews"
        ],
        "operationId": "addCrewMember",
        "summary": "Add a crew member",
        "description": "**Required scope:** `admin:settings`\n\nRestricted to owner and office roles. Adds a user to a crew. The target `user_id` must already be a member of the tenant; otherwise a 400 is returned with the error code `user_not_in_tenant`. Re-adding an existing member returns 409. A crew that does not exist (or is not visible) returns 404.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrewMemberCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "member"
                  ],
                  "properties": {
                    "member": {
                      "$ref": "#/components/schemas/CrewMember"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/crews/{crewId}/members/{userId}": {
      "parameters": [
        {
          "name": "crewId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Crew identifier."
        },
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Identifier of the user to remove from the crew."
        }
      ],
      "delete": {
        "tags": [
          "Crews"
        ],
        "operationId": "removeCrewMember",
        "summary": "Remove a crew member",
        "description": "**Required scope:** `admin:settings`\n\nRestricted to owner and office roles. Removes a user from a crew. The operation is idempotent: removing a membership that does not exist returns 200 with `removed: false`. A crew that does not exist (or is not visible) in the tenant returns 404. Note: this endpoint returns 200 with a body rather than 204.",
        "responses": {
          "200": {
            "description": "Removal result. `removed` is true only when a membership row was actually deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "removed"
                  ],
                  "properties": {
                    "removed": {
                      "type": "boolean",
                      "description": "True when a membership was deleted; false when no matching membership existed (idempotent no-op)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "**Required scope:** `read:customers`\n\nList and search customers for the tenant. Supports free-text search (`q`, capped at 256 characters), status/type filters, tag filter, and cursor pagination. The `has_open_balance` and `has_open_jobs` filters are not yet supported and return 400 if supplied. Rate-limited to 60 requests/minute per user.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Free-text search query (max 256 characters).",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by customer status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive",
                "archived"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by customer type.",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "company"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter by tag id.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of customer search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerSearchResult"
                      }
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page, or null when there are no more results."
                    }
                  },
                  "required": [
                    "results",
                    "next_cursor"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "**Required scope:** `write:customers`\n\nCreate an individual or company customer. The request body is a discriminated union on `customer_type`. Returns 409 if a customer with the same phone number already exists.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Customer id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getCustomer",
        "summary": "Get a customer",
        "description": "**Required scope:** `read:customers`\n\nFetch a single customer with its live (non-deleted) contacts and locations. If the requested customer was merged into a survivor record, the response is a `{ \"merged_into\": \"<survivor-id>\" }` redirect pointer instead of the full customer object.",
        "responses": {
          "200": {
            "description": "The customer with its contacts and locations, or a merge-redirect pointer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerWithRelations"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "description": "**Required scope:** `write:customers`\n\nUpdate editable customer fields. Lifecycle fields (`status`, `deleted_at`, `archived_at`, `merged_into_customer_id`) are rejected with a 400 `disallowed_fields` error — use the dedicated archive/restore/merge routes instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "deleteCustomer",
        "summary": "Archive a customer (soft-delete)",
        "description": "**Required scope:** `write:customers`\n\nSoft-archives the customer (same lifecycle action as `POST /customers/{id}/archive`). Owner role only.",
        "responses": {
          "204": {
            "description": "Customer archived."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers/{id}/archive": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Customer id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "archiveCustomer",
        "summary": "Archive a customer",
        "description": "**Required scope:** `write:customers`\n\nSoft-archives (soft-deletes) the customer. Owner role only.",
        "responses": {
          "204": {
            "description": "Customer archived."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers/{id}/attachments": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Customer id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "listCustomerAttachments",
        "summary": "List customer attachments",
        "description": "**Required scope:** `read:customers`\n\nList all file attachments for the customer, newest first.",
        "responses": {
          "200": {
            "description": "The customer's attachments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerAttachment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "uploadCustomerAttachment",
        "summary": "Upload a customer attachment",
        "description": "**Required scope:** `write:customers`\n\nUpload a file attachment via `multipart/form-data`. The upload is validated for size, MIME type, and filename safety before storage. Form fields: `file` (required), `attachment_type` (optional, defaults to `other`), and `label` (optional, defaults to the sanitized filename).",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  },
                  "attachment_type": {
                    "type": "string",
                    "description": "Attachment classification. Defaults to `other`.",
                    "example": "contract"
                  },
                  "label": {
                    "type": "string",
                    "description": "Human-readable label. Defaults to the sanitized filename."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created attachment record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAttachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers/{id}/attachments/{attachmentId}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Customer id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "attachmentId",
          "in": "path",
          "required": true,
          "description": "Attachment id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getCustomerAttachmentDownloadUrl",
        "summary": "Get an attachment download URL",
        "description": "**Required scope:** `read:customers`\n\nReturns a short-lived (5-minute TTL) signed download URL for the attachment.",
        "responses": {
          "200": {
            "description": "A signed download URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Signed download URL valid for 5 minutes."
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "deleteCustomerAttachment",
        "summary": "Delete a customer attachment",
        "description": "**Required scope:** `write:customers`\n\nDeletes the attachment record and its underlying stored object.",
        "responses": {
          "204": {
            "description": "Attachment deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customers/{id}/billing-profile": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Customer id.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "getCustomerBillingProfile",
        "summary": "Get a customer's billing profile",
        "description": "**Required scope:** `read:customers`\n\nFetch the customer's billing profile (payment terms, tax settings, billing preferences).",
        "responses": {
          "200": {
            "description": "The billing profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBillingProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "operationId": "updateCustomerBillingProfile",
        "summary": "Update a customer's billing profile",
        "description": "**Required scope:** `write:customers`\n\nUpdate billing-policy fields (payment terms, tax rate/exemption, invoice and reminder preferences, billing contact).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerBillingProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated billing profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBillingProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
[...]
